<div class="container">
  <p>Click to start recording video</p>
  <div class="row">
    <div class="col-2">
      <div class="action-btn mb-5">
        <ng-template [ngIf]="!videoData.isRecorded">
          <button
            mat-raised-button
            color="primary"
            class="mr-5 mb-3"
            (click)="handleStartRecording()"
            [disabled]="recordOption.isStart"
          >
            Start
          </button>
          <button
            mat-stroked-button
            color="accent"
            class="mr-5 mb-3"
            (click)="handleStopRecording()"
            [disabled]="!recordOption.isStart"
          >
            Stop
          </button>
        </ng-template>
        <ng-template [ngIf]="videoData.isRecorded">
          <button
            mat-raised-button
            color="primary"
            class="mr-5 mb-3"
            (click)="handleAddComment()"
          >
            Add Comment
          </button>
          <textarea [(ngModel)]="commentText" class="mb-5 mr-5"></textarea>
        </ng-template>
        <a target="_blank" #downloadLink class="ml-1 mb-3 float-left"
          >Download Link</a
        >
      </div>
    </div>
    <div class="col-8">
      <div class="video-container" #videoContainer>
        <video
          controls
          autoplay
          playsinline
          style="width: 80%"
          #videoRef
          (play)="handleVideoClick($event)"
          (pause)="handleVideoClick($event)"
        ></video>
      </div>
      <mat-spinner *ngIf="isLoading" class="m-auto"></mat-spinner>
      <pre
        *ngFor="let item of videoData.videoTranscript | keyvalue: originalOrder"
      >
        {{ fancyTimeFormat(item.key) }} : {{ item.value }}
      </pre>
    </div>
    <div class="col-2">
      <ng-template [ngIf]="videoData.isRecorded">
        <ul
          class="list-group"
          *ngFor="let item of commentTimeStampObj | keyvalue"
        >
          <li
            class="list-group-item"
            [ngClass]="{
              highlighed_list:
                convertIntoSeconds(currentVideoDuration) -
                  convertIntoSeconds(item.key) <=
                  5 &&
                convertIntoSeconds(currentVideoDuration) -
                  convertIntoSeconds(item.key) >=
                  0
            }"
          >
            <p (click)="handleRedirectVideo(item.key)">{{ item.key }}</p>
            &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;{{ item.value }}
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</div>
