<div [ngClass]="{ container: videoStatus.isNotFullScreen }">
  <div class="row">
    <div
      [ngClass]="{
        'col-8': videoStatus.isNotFullScreen,
        'col-12': !videoStatus.isNotFullScreen
      }"
    >
      <video
        class="main-video mt-5"
        #videoRef
        src="https://boilerplate-s3-upload.s3.us-east-2.amazonaws.com/02-02-2021__18-07-20_videoplayback+(2).mp4"
        preload="auto"
        autoplay
        controls
        (loadedmetadata)="metaDataLoaded()"
      ></video>
      <canvas
        #canvasRef
        (mousedown)="handleStartPaint($event)"
        (mouseup)="handleStopPaint()"
        (mousemove)="handleStartPaint($event)"
        [ngClass]="{
          'mt-5': videoStatus.isNotFullScreen,
          'canvas-full': !videoStatus.isNotFullScreen
        }"
      ></canvas>
      <div class="video_actions mt-3" [hidden]="!videoStatus.isNotFullScreen">
        <button (click)="handleVideoClick({ type: 'play' })" class="mr-2">
          Play
        </button>
        <button (click)="handleVideoClick({ type: 'pause' })" class="mr-2">
          Pause
        </button>
        <button (click)="handleVideoClick({ type: 'fullScreen' })" class="mr-2">
          Full Screen
        </button>
        <p class="text-primary" class="mt-2">Volume</p>
        <mat-slider
          min="0"
          max="1"
          step="0.1"
          value="0.1"
          class="w-100"
          [(ngModel)]="videoStatus.volume"
          (change)="handleVideoClick({ type: 'volume' })"
        ></mat-slider>
        <p>Video Slider</p>
        <mat-slider
          min="0"
          [max]="videoStatus.totalTime"
          step="1"
          value="0"
          class="w-100"
          [(ngModel)]="videoStatus.currentTime"
          (change)="handleVideoClick({ type: 'slider' })"
        ></mat-slider>
      </div>
    </div>
    <div class="col-4 mt-5" [hidden]="!videoStatus.isNotFullScreen">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle
          value="annotate"
          (change)="handleButtonToggle($event)"
          >Annotate</mat-button-toggle
        >
        <mat-button-toggle
          value="highLight"
          (change)="handleButtonToggle($event)"
          >Highlight</mat-button-toggle
        >
      </mat-button-toggle-group>
      <p class="text-danger">Stroke Size</p>
      <mat-slider
        min="1"
        max="20"
        step="1"
        value="5"
        class="w-100"
        [(ngModel)]="drawingDetails.strokeLength"
      ></mat-slider>
      <p class="mt-3">Choose Stroke Color</p>
      <input
        type="color"
        [(ngModel)]="drawingDetails.strokeColor"
      /><br /><br />
    </div>
  </div>
</div>

<!-- <div [hidden]="videoStatus.isNotFullScreen">
  <canvas
    #canvasRef
    (mousedown)="handleStartPaint($event)"
    (mouseup)="handleStopPaint()"
    (mousemove)="handleStartPaint($event)"
    class="mt-5"
  ></canvas>
</div> -->
