.fullScreen_canvas_background {
  background-color: #212121;
  display: block;
}

::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  margin: 0 1px !important ;
}

body {
  overflow: hidden;
}
.main-video {
  display: none;
  z-index: 0;
}

.highlighed_list {
  border: 2px solid red;
}

.video_actions {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #212121;
  z-index: 0;
}

.main_video {
  line-height: 0;
}

.actions_left {
  display: flex;
  align-items: center;
}

.actions_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.action_left_volumeUp :hover {
  cursor: pointer !important;
}
.actions_left {
  cursor: pointer;
}

.action_left_volume_slider {
  width: 100px;
  min-width: 60px;
}

:host ::ng-deep .action_left_volume_slider .mat-slider-thumb,
:host ::ng-deep .action_left_volume_slider .mat-slider-track-fill {
  background-color: white;
  color: white;
}

.action_left_volumeUp {
  color: #909090;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}
.color_picker {
  width: 45x !important;
  height: 40px !important;
  border-radius: 50%;
  cursor: pointer;
}

.actions_right {
  cursor: pointer;
}

.cancel_toggle {
  margin-top: 7px;
  width: 65px !important;
  height: 65px !important;
}

.fullScreen_canvas {
  /* width: 100%; */
  width: auto !important ;
  height: 90vh;
}

.fullScreen_toolbar {
  width: 100%;
  /* height: 8vh; */
  height: 8.8vh;
}

.fullscreen_icon {
  font-size: 35px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #909090;
}

.icon_expand_toogle {
  margin-top: 5px;
}

.icon_play {
  color: white;
  font-size: 30px;
  margin-bottom: 7px;
}

.video_timeline {
  line-height: 0;
  height: 20px;
  padding: 0 !important;
  margin: 0 !important;
}
.timeline_slider {
  z-index: 1;
  cursor: pointer;
  width: 99.5%;
  height: 8px;
}

.video_slider {
  z-index: 1;
  background-color: #212121;
  line-height: 0px;
}

.icon_color {
  color: #909090;
}

.annotate_select_group {
  width: 40px;
  height: 40px;
}

.annotate_option {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 24px !important;
  min-height: 24px !important;
  width: 24px;
  height: 24px;
}

.selected-icon {
  padding-top: 10px !important;
}

.selected_size_icon {
  padding-top: 5px !important;
}

.icon_1x {
  transform: scale(1);
  vertical-align: unset !important;
  margin-right: 0px !important;
}

.icon_2x {
  transform: scale(1.5);
  vertical-align: unset !important;
  margin-right: 0px !important;
}

.icon_3x {
  transform: scale(2);
  vertical-align: unset !important;
  margin-right: 0px !important;
}

.icon_4x {
  transform: scale(2.5);
  vertical-align: unset !important;
  margin-right: 0px !important;
}

.annotate {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.highlight {
  background-color: white;
  padding-top: 6px !important;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.bookmark {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.icon_bookmark {
  padding-top: 10px;
}

.highlighter_icon {
  font-size: 20px;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
