<mat-card class="content-align" *ngIf="test">
      <mat-card-header class="header-mat-card">
      <mat-card-title>
          <h4>Single Document View</h4>
      </mat-card-title>
      <mat-card-subtitle class="title-color">test-detail</mat-card-subtitle>
    </mat-card-header>
    <div class="field-spacing"></div>
    <mat-divider ></mat-divider>
    <mat-card-content class="fields-content">
    <div *ngIf="test.data.invoice"><mat-form-field class="example-container">
          <input matInput placeholder="invoice" value="{{test.data.invoice}}" [(ngModel)]="test.data.invoice" [disabled]="true" #EIDonrcd class="input-font-size">
        </mat-form-field>
       </div></mat-card-content>
      <mat-divider></mat-divider>
      <div class="field-spacing"></div>
      </mat-card>
      